<% layout false %>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Welcome to bones</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag %>
</head>
<h1>Welcome to <strong>bones</strong></h1>
<pre>
  Getting started:
  
  - Create some files in /pages (i.e. index.html.erb)
  - Create some directories in /pages if you want as well
    and drop .html.erb files in them as well  
  - Check out /raw to see all the pages in the system  
    
  Other things you can do:
    
  - Create partials in /pages (i.e. _footer.html.erb)
  - Drop anything you want in /public
      (/stylesheets and /javascripts are created for you)
  - Customize the layout (/layouts/application.html.erb)
  - Create your own layout:
      - Drop the file in /layouts (i.e. /layouts/custom.html.erb)
      - Use the layout from a page (i.e. &lt;%= layout 'custom' %&gt;)
</pre>
</html>