<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Welcome to bones</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag %>
</head>  
<body>
  <h1>Welcome to <strong>bones</strong></h1>
  <%= yield %>
</body>
</html>